
@keyframes sliding{
    0%{
        background-color: gold;
        left: 0;
        top: 0;
    }
    25%{
        top: 225px;
        background-color: red;
        transform: scale(0.5);
    }
    50%{
        top: 0;
        background-color: gold;
        transform: scale(1);
    }
    75%{
        top: 225px;
        background-color: red;
        transform: scale(0.5);
    }
    100%{
        background-color: gold;
        left: 700px;
        top: 0;
    }
}
.stage{
    height: 300px;
    width: 800px;
    background-color: lightskyblue;
}
.ball{
    height: 100px;
    width: 100px;
    background-color: lawngreen;
    position: relative;
    border-radius: 50px;
    animation: sliding 2s ease-in-out 0.6s infinite alternate;
    animation-play-state: running;
}